<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

<div th:fragment="carElectrician">
  <h2> Car electrician </h2>
  <p>
    Modern vehicles are equipped with a multitude of electronic systems that enhance driving ease, comfort, and safety, both on the road
    and when stationary. However, these electronics can sometimes malfunction and cause issues. Diagnosing the problem, particularly without
    the right expertise, can be quite challenging. Fortunately, in such cases, an electromechanic is there to help.
  </p>

  <h2> Car electromechanic - who is that? </h2>
  <p>
    A car electrician, also known as an electromechanic, specializes in vehicle electrical systems. Their daily tasks include assessing the
    condition of a car's electrical system, diagnosing various faults, and addressing them through repairs or component replacements.
    What specific issues can an auto electrician help with? They can troubleshoot problems such as malfunctioning air conditioning, faulty
    car alarms and lighting systems, or inoperative audio-video equipment. They also perform computer diagnostics, install parking sensors,
    replace windshield wiper motors, batteries, radiator fans, and even light bulbs.
  </p>

  <h2> Car electrician costs </h2>
  <p>
    Automotive electrics are complex and constantly evolving, which can lead to significant costs. Service rates vary widely, but the
    average hourly rate for an electromechanic is typically around 24 EUR. With modern vehicles, it's common to accumulate several hours
    of service throughout the year. Here are some example rates from car electricians: air conditioning service – 28 EUR; air
    conditioning system leak test – 5-15 EUR; computer diagnostics – starting at 18 EUR; installation of daytime running lights – starting
    at 28 EUR; installation of parking sensors – starting at 35 EUR; alternator replacement – starting at 12 EUR; alarm
    installation – starting at 77 EUR; installation of central locking for four doors – starting at 65 EUR.
  </p>
</div>

</body>
</html>