<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

<div th:fragment="carMechanic">
  <h2> Car mechanic </h2>
  <p>
    While older cars were often manageable for DIY repairs, modern vehicles present more challenges. Why? They are highly advanced and
    heavily equipped with electronics. Addressing even minor issues typically requires specialized knowledge and tools, making it increasingly
    necessary to visit a professional car service equipped with the latest technology and skilled mechanics.
  </p>

  <h2> Mechanic's offer </h2>
  <p>
    A car service center typically employs a range of specialists with diverse experience and expertise, allowing it to offer an extensive
    array of services. These include routine inspections and diagnostics, as well as more complex repairs of the drive, brake, ignition,
    steering, and exhaust systems, as well as vulcanization. While there are some specialized services that focus on a narrow range of issues,
    most workshops aim to provide comprehensive service and resolve all car problems during a single visit. In addition to repairs, car
    service centers can perform various tests, such as battery and brake checks, analyze exhaust emissions, measure engine smoke levels,
    adjust wheel alignment, replace batteries, and offer thorough washing and cleaning services.
  </p>

  <h2> Car mechanic rates </h2>
  <p>
    For basic services such as tests, analyses, or measurements, prices can range from 10 to 20 EUR.
    Wheel alignment or geometry adjustments will start at approximately 28 EUR. Replacing brake discs, 18”/19” tyres, or the steering rack
    also falls into this price range. Engine valve adjustments will cost at least 35 EUR, clutch replacement around 117 EUR, and a complete
    exhaust system replacement will be about 47 EUR. More complex services, such as engine dismantling, inspection, and repair, can be
    significantly more expensive, often resulting in a bill with four-digit figures.
  </p>
</div>

</body>
</html>