<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div th:fragment="connectingHouseholdAppliances">
  <h2> Connecting household appliances </h2>
  <p>
    The term "household appliances" or "household products" encompasses all the equipment we use daily. This includes both large
    appliances, such as refrigerators, dishwashers, washing machines, dryers, microwaves, cookers, and ovens, as well as smaller
    items like irons, grills, and toasters. While small household appliances are straightforward to set up by simply plugging them
    into an outlet, larger appliances often require additional installation, such as connecting to water or gas systems. For devices
    like washing machines, tumble dryers, dishwashers, and cookers, proper installation is crucial to avoid potential leaks in the pipes.
    Therefore, it is advisable to have these installations handled by professionals.
  </p>

  <h2> Why should household appliances be connected by professionals? </h2>
  <p>
    When installing a washing machine, it's crucial to place it in a location with not only an electrical outlet but also a cold water
    connection and a drainage system. The provided drain pipe and water connection hose typically measure between 120 and 150 cm in
    length, so consider this when positioning the machine. The washing machine must be connected to the water supply, with the hose
    securely attached to the valve using a metal ring. After this, the water drain pipe should be connected to the inlet. Additionally,
    two important steps must not be overlooked: leveling the machine to prevent movement during the spin cycle and removing transport
    locks from the drum and motor. Using the washing machine with these locks in place can cause damage.
    As you can see, setting up a washing machine involves more than just plugging it in. It’s best to rely on a specialist for this task.
    Their expertise ensures proper installation, including leveling and removal of factory protections, and they will also check for
    issues like water or gas leaks to ensure the machine operates correctly.
  </p>

  <h2> Connecting household appliances cost </h2>
  <p>
    The cost of repairing household appliances varies depending on the specific appliance that needs fixing. For the most accurate
    assessment and to ensure the best results, it is advisable to contact a professional technician.
  </p>
</div>

</body>
</html>