<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

<div th:fragment="drywallRepair">
  <h2> Drywall repair </h2>
  <p>
    Drywall repair is one of the most common handyman tasks, yet it can be complex as it involves several steps and requires precision and
    keen attention to detail. Professional drywallers are skilled in properly repairing damaged areas, cutting and fitting drywall for
    replacement, and finishing the seams to ensure they are smooth and free of defects.
  </p>

  <h2> What types of drywall repairs can a handyman complete? </h2>
  <p>
    Drywall is present in 96 percent of homes today, but it is prone to damage. Regardless of how cautious you are, it's likely you'll
    face some bumps and dents that need fixing, especially if you have kids and pets. Although the idea of repairing drywall might seem
    intimidating, minor damage can usually be addressed quickly. A handyman can provide drywall repair services for the following issues:
  </p>
  <ul>
    <li>Chips and dents</li>
    <li>Holes</li>
    <li>Cracks</li>
  </ul>

  <h2> Drywall repair cost </h2>
  <p>
    Drywall work falls under the category of so-called dry construction jobs, which vary in type and kind. Installing a partition wall is
    simple and quick, with the price potentially increasing due to the thickness of the wall and any sound insulation. The cost of a standard
    partition wall ranges between 15 and 25 EUR/m², while a double wall can cost up to 35 EUR/m². A suspended drywall ceiling can be installed
    by a contractor for around 20 EUR/m².
  </p>

</div>
</body>
</html>