<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

<div th:fragment="electricalEmergencyService">
  <h2> Electrical emergency service </h2>
  <p>
    An emergency electrical service is useful in every situation when we have problems with electricity and we do not know exactly
    how to deal with them. Knowledge of electricity makes things easier, but only a few can boast of having the appropriate knowledge
    and practice in this field. Considering the fact that playing with electricity is dangerous, it is not worth taking unnecessary
    risks - hiring a specialist will allow us to deal with the problem quickly and safely.
  </p>

  <h2> What is an electrical emergency service? </h2>
  <p>
    Even a brief power outage can be quite inconvenient, leaving us without access to many of our home devices.
    While power outages are infrequent, more common issues such as installation damage or blown fuses can occur.
    An electrical emergency service is invaluable for swiftly addressing these problems. Beyond handling emergencies,
    these services also offer various other solutions. They can install chandeliers, add extra electrical outlets, replace
    switches and RTV sockets, and even seal meters.
  </p>

  <h2> Electric emergency cost </h2>
  <p>
    Since pinpointing the exact source of an electrical problem can be challenging, services are typically billed based on man-hours.
    The rates vary depending on the time and duration of the service. For standard hours, the cost is generally around 10 EUR for the
    first hour and 9 EUR for each additional hour. In the evening, the rates increase to 20 EUR for the first hour and 10 EUR for
    subsequent hours. During nighttime, the rates are 30 EUR for the first hour and 20 EUR for additional hours. Emergency services
    on holidays and days off are even more expensive, reaching up to 40 EUR per hour.

    Standard services are often priced individually. For example, expanding an electrical point with an additional socket or replacing
    a switch or socket typically costs between 5 EUR and 8 EUR. Installing a chandelier is priced around 10 EUR to 15 EUR, while
    installing a power socket is approximately 20 EUR.
  </p>

</div>

</body>
</html>