<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

<div th:fragment="electricalInstallationsDescription">

  <h2> Electrical Installations </h2>
  <p>
    An electrical installation is a collection of electrical devices that are permanently electrically linked to one another and can receive power from an electrical source.
    The electrical installation should be properly planned and constructed to fully ensure the safe and comfortable use of artificial lighting and other electricity-powered devices.
    The installation process typically starts with detailed planning, involving a thorough evaluation of the space’s requirements and layout. A well conceived design is a prerequisite for an efficient and safe electrical installation. Once the design gains approval, the physical installation phase begins.
  </p>

  <h2> Types of electrical installations </h2>
  <p>
    Due to the type of receivers powered, the home electrical installation is divided into lighting and power. The lighting installation powers electric light sources and portable heating devices and water heaters of small power. On the other hand, the power electrical installation is used to power larger receivers and devices with high rated power, e.g. hot water heaters or electric cookers.
  </p>

  <h2> Installation of electrical installation </h2>
  <p>
    The electrical installation is carried out based on a previously prepared project. It should contain information on, among others, the location of electrical cables, fasteners, sockets and lighting points. Without a project, it is impossible to install the electrical installation.

    A well-connected electrical installation must provide constant and uninterrupted access to electricity and its safe use. However, that is not all. A well-executed electrical installation ensures not only the correct but also the convenient functioning of RTV and household appliances. It is also very important to carry out the installation in such a way that there are no difficulties with the later expansion of the electrical installation.
  </p>

  <h2> How much does an electrical installation cost? </h2>
  <p>
    The cost of installing electrical power in a house will vary depending on the size of the building and the number and type of points.
    The approximate prices of individual services are as follows:
  </p>
  <div>
    <ul>
      <li>lighting point – 10-20 EUR</li>
      <li>single 230V electrical socket point – 10-20 EUR</li>
      <li>power socket point – 30 EUR</li>
      <li>telephone socket point – 10 EUR</li>
      <li>computer socket point – 20-40 EUR</li>
      <li>socket assembly – 2 EUR</li>
      <li>installation of dashboard accessories – 150 EUR (12-24 modules) – 250 EUR (36-48 modules)</li>
    </ul>
  </div>
  <p>
    A separate category is the electrical installation in the kitchen, where connecting a hob,
    oven or water heater is an additional cost, approximately 30-45 EUR.
  </p>

</div>

</body>
</html>