<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div th:fragment="furnitureAssembly">
    <h2> Furniture assembly </h2>
    <p>
        Most people don't think following incomprehensible instructions to put together a new piece of furniture sounds like a good,
        relaxing after-work activity. And yet furniture assembly is one of the most forgotten handyman services available.
        Don't avoid buying new furniture because you don't want to take the time to put it together.
        A handyman service company can put together any type of furniture you need, including beds, bookshelves, desks, or tables.
        They can even help to assemble cabinet boxes or other more permanent fixtures in your home. Another bonus of having help assembling
        furniture is that the handyman will get it set up in its correct place. No more scooting furniture inch by inch into place!
        Remove one of the most frustrating tasks from your list and hire a handyman!
    </p>
    <h2> Assembling furniture cost </h2>
    <p>
        Prices for services such as furniture assembly or hanging kitchen cabinets vary widely and depend on factors like the reputation of
        the specialist, the location of the service (with higher prices typically found in large cities), and the specifics of the order.
        The more complex and challenging the task, the higher the cost of the service. Generally, the costs of assembling and installing
        furniture are calculated based on man-hours or linear meters. Kitchen furniture is the most expensive to assemble and install,
        typically costing 55-70 EUR per meter. It's important to note that this price does not include electrical, gas, or plumbing
        connections. Assembling living room furniture is more affordable, with a specialist's hourly rate around 11 EUR. However, many
        specialists specify in their price lists that the minimum service cost is equivalent to 2-3 working hours. Additionally, the cost
        of furniture assembly is sometimes calculated as 10%-20% of the furniture's price.
    </p>
</div>

</body>
</html>