<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div th:fragment="houseRenovation">
  <h2> House renovation </h2>
  <p>
    House renovation involves updating or restoring various aspects of a home to improve its functionality, aesthetics, and value. It can
    range from simple cosmetic changes, like painting walls or updating fixtures, to more extensive projects such as remodeling rooms,
    upgrading electrical systems, or even structural alterations. Renovation often begins with planning and budgeting, where homeowners
    assess their needs and set priorities. This stage includes selecting materials, hiring contractors, and determining the scope of work.
    Common renovation projects include kitchen and bathroom remodels, flooring upgrades, and exterior improvements. The process typically
    involves several steps: removing old elements, repairing or replacing damaged structures, and installing new components. Proper preparation
    and execution are crucial to achieving a successful renovation. Whether driven by the desire for modern aesthetics or the need to address
    wear and tear, a well-executed renovation can significantly enhance a home's comfort and market value.
  </p>

  <h2> House renovation costs </h2>
  <p>
    If you are buying a property with the intention of completely renovating it, it is advisable to choose very carefully. Renovating or
    restoring a house can turn out to be more challenging and certainly much more expensive than building a new one. The cost of a complete
    house renovation ranges from 700 EUR to 1,000 EUR per square meter. This calculation includes demolishing load-bearing walls, creating
    openings for doors and windows, refurbishing the facade, installing new joinery, full electrical and mechanical installations, drywall
    work, flooring, wall coverings, and plastering. However, considering that building a new family house “turnkey” costs up to around 750 EUR
    per square meter, it is highly recommended to conduct a thorough analysis and calculate whether undertaking such a project is worthwhile.
  </p>
</div>

</body>
</html>