<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div th:fragment="houseConstruction">
  <h2> House construction </h2>
  <p>
    House construction is the process of building a residential structure from the ground up. It typically involves several key phases,
    including planning and design, site preparation, foundation work, framing, and the installation of essential systems such as plumbing,
    electrical, and HVAC. Following these phases, the house is completed with exterior and interior finishes, including roofing, siding,
    flooring, and fixtures. The process combines architectural design, engineering, and skilled labor to create a functional and livable home.
  </p>
  <h2> Cost of building a house </h2>
  <p>
    The approximate cost of new construction up to the 5th phase of building ranges between 250 EUR and 350 EUR per m². Special attention
    should be given
    to installations, as they account for a quarter of the total investment, or 23-27% of the construction cost. The price of new construction
    can vary over time, so it’s essential to stay updated with the latest prices. Always carefully check the contractor and never accept the
    lowest bid.

    Building a house is a significant undertaking, but you can save a lot from the start. The facade is expensive, so it’s best if your house
    has a simple shape. An internal garage is very costly and impractical, so consider a carport instead. Choosing a simple roof and basic
    details will be cheaper than opting for more complex elements and plasterwork. Additionally, you can save quite a bit if you design the
    house with a modern, open plan. This eliminates the need for many interior doors and partitions, making electrical and plumbing
    installations simpler and more affordable. Several small bathrooms are much more expensive than one larger bathroom with a separate toilet.
  </p>
</div>

</body>
</html>