<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

<div th:fragment="houseElevation">
  <h2> House elevation </h2>
  <p>
    The elevation of a house and its technical condition significantly influence the overall assessment of the property and its valuation.
    The elevation highlights the property's style and its most appealing features while concealing any potential flaws. It is important
    to maintain and regularly monitor the condition of the house's elevation, as its role extends beyond aesthetic appeal.
  </p>
  <h2> Types of house facades </h2>
  <p>
    The most commonly chosen finishing material for house facades is thin-layer plaster. This affordable option works well on any type of
    surface and can be easily customized to meet individual needs. The plaster can be smooth or textured, and it comes in any color. Based on
    the binder used, thin-layer plasters are categorized into acrylic, mineral, silicone, and silicate types.

    There is a growing interest in natural stone facades, typically made from granite, sandstone, or syenite. While sandstone requires
    periodic impregnation, granite and syenite maintain their natural beauty without the need for maintenance. Unlike thin-layer plaster,
    stone cladding does not fade and is much more resistant to mechanical damage, though it is significantly more expensive.

    An alternative to natural stone facades is clinker or facing brick. Though relatively costly, this solution is extremely functional
    and convenient. The color palette is limited, but clinker and facing bricks are available in several color variants and textures. Due to
    the costs, clinker is often used alongside traditional plaster.

    Modern house elevations are increasingly finished with wooden or metal panels. These materials create striking effects but require
    regular impregnation and protection to maintain their appearance
  </p>
  <h2> How much does it cost to finish a house facade? </h2>
  <p>
    The elevation of a single-storey house can be quite expensive—the larger the house, the higher the costs. The most significant expense
    will undoubtedly be the purchase of materials. Mineral plaster is the cheapest option, usually costing around 1 EUR/kg. Acrylic plaster
    is at least twice as expensive, and silicone plaster can be up to four times more costly. Clinker tiles range from several dozen to over
    23 EUR/m², depending on the model.

    A similar expense can be expected for wooden panels, with the exception of exotic wood boards, which cost between 35-45 EUR/m².

    Stone is the most expensive but also the most durable option. Sandstone can be purchased for around 11-14 EUR/m², while granite or
    syenite can cost up to 46 EUR/m².

    In addition to material costs, labor costs can also be quite high. Applying classic plaster typically costs around 6-8 EUR/m².
    For a wooden elevation, expect to pay around 11 EUR/m², while installing clinker tiles costs between 10-15 EUR/m². The installation of
    a stone elevation is the most expensive, at up to 18 EUR/m².
  </p>
</div>

</body>
</html>