<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

<div th:fragment="otherElectricalServices">
  <h2> Other electrical services </h2>
  <p>
    An electrician is a professional who provides essential services beyond just constructing a house and installing its electrical system.
    They are crucial for maintaining the proper operation of electrical equipment, carrying out repairs, and addressing faults. It is
    important to ensure that the electrician you hire is certified and possesses the necessary qualifications to perform their job. Only a
    qualified electrician can ensure safe and secure installations and accurate calculations.
  </p>
  <h2> What does an electrician do? </h2>
  <p>
    An electrician offers a wide range of services, including connecting electrical appliances such as stoves, ovens, water heaters, and
    air conditioning units. They can also troubleshoot faults, replace outdated installations, assess whether wiring needs updating, install
    both internal and external lighting, and repair lamps or electrical devices. Additionally, electricians measure electrical installations
    and light intensity. They are essential for diagnosing severe issues, such as smoke from outlets or water-damaged wires. Furthermore,
    their expertise is crucial during house construction for planning and installing the electrical system. Many electricians also provide
    emergency services, available even during nights and holidays.
  </p>
  <h2> How much do electrical services cost? </h2>
  <p>
    The cost of electrical services varies widely depending on the type of service required. Installing a complete electrical system in a
    house can range from 550 EUR to 2500 EUR. Specific tasks have different prices, such as 12 EUR for installing an electrical socket,
    25 EUR for a TV socket, and 20 EUR for a power socket. Additionally, addressing an electrical fault typically starts at 25 EUR.
  </p>
</div>

</body>
</html>