<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

<div th:fragment="otherPlumbingServices">
  <h2> Other plumbing services </h2>
  <p>
    We typically require plumbing services infrequently, usually only during failures or renovation projects. Professional plumbing support
    can be quite costly, so we often attempt to handle minor issues and repairs on our own. However, there are times when the task exceeds
    our capabilities, needing specialized knowledge, experience, or professional equipment. In these cases, it is most advisable to seek
    the assistance of a professional plumber.
  </p>
  <h2> How can a plumber help us? </h2>
  <p>
    We most commonly call a plumber for issues such as burst pipes, leaking seals, or dripping taps. However, the range of plumbing services
    extends far beyond these problems. A skilled plumber can assist with installing a bathtub, sink, toilet, and fittings
    (known as "white assembly"), as well as setting up a kitchen sink and tap and connecting a dishwasher. They are also equipped to
    handle more complex tasks, such as connecting a central heating boiler, creating a central heating system, or unclogging pipes.
    Additionally, plumbers are adept at locating the sources of leaks that may cause issues like flooding for neighbors. With the right
    equipment, they can accurately pinpoint the problem area, potentially saving us from extensive tile removal and unplanned bathroom
    renovations.
  </p>
  <h2> Professional plumbing services cost </h2>
  <p>
    Plumbing service price lists are quite detailed, with notable costs for white assembly, which is relevant for house building or renovation.
    For installing a wall-hung toilet, expect to pay around 45 EUR, a bathtub about 30 EUR, a shower cabin around 55 EUR, and a washbasin
    approximately 15 EUR. Higher expenses are anticipated for the installation or replacement of central heating and water and sewage systems.
    Traditional central heating installation is typically charged per unit, with rates around 30 EUR per point. In contrast, underfloor
    heating is priced by the square meter, with costs around 35 EUR per m². Water and sewage installation is even more costly, approximately
    100 EUR per point, and if dismantling an old hydraulic point is required, an additional 25 EUR should be added to the total cost.
  </p>
</div>

</body>
</html>