<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div th:fragment="paintingCeiling">

  <h2> Painting the ceiling </h2>
  <p>
    The first step in any renovation is painting the ceiling. Traditionally, white is the preferred color for ceilings in houses or
    apartments, but this is not a hard and fast rule. Increasingly, people are opting for colorful paints to complement the walls or
    achieve a specific visual effect. If you choose a colorful ceiling, keep in mind that different colors will influence the perception
    of the room, making it appear either smaller or larger.
  </p>

  <h2> Is it worth painting the ceiling yourself? </h2>
  <p>
    There are many step-by-step guides available online that show how to paint a ceiling. However, before deciding to paint the ceiling
    yourself, consider whether you are confident in your ability to do it neatly and ensure a lasting finish. Any mistakes could require
    additional work and more materials. Unlike walls, ceiling imperfections are difficult to conceal. As a result, the cost of painting the
    ceiling yourself might end up being higher than hiring a professional. Remember, you are investing not just money, but also your time.
    Professional painters possess the necessary knowledge, experience, and skills to paint ceilings effectively. Their work will likely be
    more durable and of higher quality. Moreover, they will complete the task in much less time. Painting is a relatively inexpensive service,
    with the cost of painting a ceiling being around a few zlotys per square meter.
  </p>

  <h2> Painting the ceiling cost </h2>
  <p>
    The cost of painting largely depends on the size and complexity of the surface to be painted. Using multiple colors or creating
    decorative elements (e.g., accents around windows and doors) can also increase the price. Simple painting of interior walls and
    ceilings (two coats, including materials and labor) ranges between 1 - 3 EUR/m².
  </p>

</div>

</body>
</html>