<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div th:fragment="paintingWalls">

  <h2> Painting walls </h2>
  <p>
    Painting the walls in a new color or renovating the current one is probably the quickest and one of the most affordable ways to refresh
    your interior. The task might seem straightforward at first glance. You just need to buy some paint and a roller, and then apply it
    to the walls. However, this is far from the truth. Although modern paints are of very high quality and the process itself is easier
    than it was a few years ago, professional wall painting requires skill and experience. Good equipment and the ability to use various
    auxiliary accessories are also beneficial. This is one of the reasons why the vast majority of us choose to hire professionals when
    planning to paint our homes. Additionally, many people are increasingly seeking out artists for artistic wall painting, which has seen
    a real resurgence in recent years.
  </p>

  <h2> Why is it worth using the services of a professional when painting an interior? </h2>
  <p>
    There are numerous reasons to opt for professional painting services. Firstly, experienced painters are experts in their craft; they
    possess the skills and experience necessary to properly prepare surfaces, stay updated on trends, and have extensive knowledge about
    paints and painting accessories. Today, stores offer an extensive range of paints, but not all are of high quality. A skilled
    specialist can provide professional advice and recommend the best paints for specific needs, such as a child’s room, high-humidity areas
    like kitchens and bathrooms, or utility rooms. Different paints are suitable for ceilings compared to walls. Unfortunately, price isn’t
    always a reliable indicator of quality. By hiring a good painter, you can save both time and money, and most importantly, ensure a
    satisfactory final result. Hiring a professional painter is also advisable if you want to achieve unique effects on your walls.
    This includes more creative and decorative forms of painting that have recently become popular. Another intriguing option is artistic
    wall painting, typically a service offered by specialized artists. However, there are painters who, besides being proficient in painting
    various interiors and surfaces, also possess the talent to create enchanting landscapes or the silhouettes of fairy-tale characters in a
    child's room.
  </p>

  <h2> Painting walls cost </h2>
  <p>
    The cost of painting largely depends on the size and complexity of the surface to be painted. Using multiple colors or creating
    decorative elements (e.g., accents around windows and doors) can also increase the price. Simple painting of interior walls and
    ceilings (two coats, including materials and labor) ranges between 1-3 EUR/m².
  </p>

</div>
</body>
</html>