<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

<div th:fragment="plumbingEmergencyService">
  <h2> Plumbing emergency service </h2>
  <p>
    Water installation is a crucial component of any house or apartment. Its setup can be complex, requiring careful preparation and
    professional expertise. Issues can arise frequently, such as a leaking faucet, water escaping from the dishwasher, or blocked sewage.
    These are just a few examples of problems that a plumbing emergency service can address.
  </p>
  <h2> What is a plumbing emergency service? </h2>
  <p>
    A plumbing emergency service is a specialized provider that operates 24/7 to address and resolve issues with water installations.
    These problems can occur frequently and often exceed our ability to fix them due to a lack of experience or the necessary tools.
    Primarily, services include unclogging and replacing pipes, replacing valves, and repairing flush tanks or bathroom faucets.
    Emergency plumbers also assist with various other challenging situations, such as installing bathroom fixtures (bathtubs, shower trays,
    toilets, sinks) and connecting appliances that require a water supply, including washing machines and dishwashers.
  </p>
  <h2> The cost of a plumbing emergency </h2>
  <p>
    The cost of using a plumbing emergency service largely depends on the time of day. During standard hours (morning and afternoon),
    mechanical sewage unblocking typically costs around 55 EUR per hour, pressure unblocking is about 80 EUR per hour, and pipe and
    channel inspections with a camera range from 55 EUR to 80 EUR per hour. Servicing a sewage pump costs approximately 55 EUR per hour.
    For tasks such as pipe replacement, valve replacement, or flush repairs, the rate is generally 30 EUR per hour. Services provided in
    the evening or at night usually incur an additional charge of about 10 EUR per hour.
  </p>
</div>

</body>
</html>