<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div th:fragment="roofPainting">
  <h2> Roof painting </h2>
  <p>

    The choice to paint a roof can stem from various motivations. Typically, it is driven by the need for regular maintenance. Roofs endure
    constant exposure to fluctuating weather conditions and air pollution, which can lead to deterioration, particularly with metal roofs
    prone to corrosion and peeling. Painting the roof may also be part of a desire to update its appearance or as a component of a broader
    home renovation project that includes changing the style and layout. Since replacing a roof covering is considerably more costly than
    painting, refreshing a roof that is still in good condition can be a cost-effective solution.
  </p>

  <h2> Additional roof painting services </h2>
  <p>
    Painting a roof typically requires extra steps beyond the actual painting process. Preparation work includes repairing defects and
    filling gaps, in addition to surface cleaning. Before a professional begins painting, they must thoroughly clean the roof, which involves
    removing old paint, rust, mold, and fungi. Additionally, the roof needs to be properly treated with a primer. Metal roofs are the simplest
    to prepare and paint, while ceramic and concrete tiles require more time and effort.
  </p>

  <h2> Roof Painting Costs </h2>
  <p>
    When budgeting for a roof painting project, it’s important to account for not just the cost of the paint and the actual painting, but
    also any additional work required. This includes preparing and cleaning the roof, as well as applying a primer. Prices are typically
    calculated per square meter. Cleaning and priming the roof costs approximately 2-4/m² EUR, depending on the material. Painting metal
    roof tiles generally costs around 2/m² EUR, whereas ceramic or concrete roof tiles are priced between 4/m² EUR. The range of paint
    prices on the market is quite broad, so if you prefer not to make the choice yourself, seeking advice from a specialist can be beneficial.
  </p>

</div>

</body>
</html>