<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

<div th:fragment="sandingParquetFlooring">
  <h2> Sanding parquet flooring </h2>
  <p>
    A wooden floor is a cherished feature for many homeowners and apartment dwellers, complementing a range of styles from classic to modern
    and Scandinavian. However, wood floors require regular maintenance and occasional renovation to maintain their beauty. Sanding parquet is
    essential for preserving a floor’s pristine condition over the years. Sanding involves removing the top layer of the floor to get rid of
    the old finish, smooth out imperfections, and prepare the surface for new varnish or oil. This process is carried out using a specialized
    machine called a floor sander, which streamlines and accelerates the job. Because sanding is labor-intensive and demands precision and
    expertise, it's best to leave it to professional companies that specialize in floor renovation and possess the necessary equipment and
    skills.
  </p>

  <h2> When should you decide to sand your parquet floor? </h2>
  <p>
    Parquet floor sanding is essential for renovating, refreshing, and protecting the floor, effectively eliminating visible defects and damage.
    If you plan to sand the floor as part of a renovation, it's best to do this before painting the walls. Slow-drying varnishes can release
    fumes that may settle on walls and create unsightly marks. Therefore, you should paint the walls initially before sanding the floor,
    and apply a final coat of paint only after the floor has fully dried. Additionally, it's advisable to remove doors and door frames before
    sanding or to carefully cover them with plastic sheeting. Skirting boards should be installed last, once the varnish or paint has
    completely dried.
  </p>

  <h2> Sanding parquet flooring costs </h2>
  <p>
    The cost of parquet flooring can vary significantly. Depending on the existing flooring, the price per square meter of parquet ranges
    from 8 to 40 EUR or more. The cost depends on the type of material, the scope of the work, and the chosen parquet installer—labor
    rates are typically around 15 EUR per hour.
  </p>

</div>

</body>
</html>