<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

<div th:fragment="smallFixes">
  <h2> Small fixes </h2>
  <p>
    In every residential building, minor repairs are occasionally necessary. While some people handle these tasks themselves, many lack the
    DIY skills or time to do so. In such cases, a handyman can be a great help, capable of performing various minor repairs. The costs
    for adjusting doors, fixing a leaky tap, or drilling holes in walls for paintings are not high. This saves time and ensures that
    the work is done reliably.
  </p>
  <h2> What repairs does our apartment require? </h2>
  <p>
    Minor repairs encompass a wide range of tasks, from fixing faults and addressing failures to completing essential household projects.
    The simplest services include installing small home elements like curtain rods, blinds, furniture handles, and various appliances.
    A handyman can also assist with more advanced tasks and services. Issues with water and sewage systems, electrical setups, or central
    heating installations are common. Problems like a blocked drain, a malfunctioning flush, an air-locked radiator, a leaky door, or a
    broken socket are typical challenges faced by homeowners. Additionally, a handyman frequently performs services related to furniture
    assembly and repair.
  </p>
  <h2> Small fixes cost </h2>
  <p>
    A handyman charges for their work based on the type of job, required materials, and time. For instance, the average cost of maintaining
    a property, which includes minor household repairs, is around 20 EUR per hour.
  </p>
</div>

</body>
</html>