<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

<div th:fragment="stackingPanels">
  <h2> Stacking panels </h2>
  <p>
    Panels are undoubtedly the most popular choice for finishing the floors in homes and apartments. They are well-suited for various rooms,
    including the living room and bedroom, and waterproof options are ideal for areas exposed to moisture, such as hallways, kitchens, and
    even bathrooms.

    What makes panels so appealing? Primarily, their attractive design, cost-effectiveness, and the relatively quick and easy installation
    process.
  </p>
  <h2> Types of floor panels </h2>
  <p>
    Panels come in various classifications, reflecting multiple parameters such as material, thickness, usability, abrasion classes,
    structure, and installation method. At a basic level, panels can be divided into wooden and laminated types, with laminated panels
    featuring additional protective layers like varnish, oil, or melamine. Standard panels are typically around 8 mm thick,
    though many models are available that are twice as thick, offering greater stability and resistance to deformation.
    Usability and abrasion classes differentiate panels intended for home use from those suited for high-traffic public spaces.
    The panel structure also affects pricing—panels that closely resemble natural wood tend to be more expensive. Additionally,
    panels are categorized by their installation methods: snap-in, glued, or installed with sealing rubbers.
  </p>
  <h2> Stacking panels cost </h2>
  <p>
    The cost of installing laminate flooring is very affordable. Laminate is primarily recommended for rooms that are not used frequently,
    making it a convenient flooring solution. The price depends on the quality and texture of the laminate, substrate preparation, and the
    service provider. Laminate should only be installed on a firm, level, dry, and clean surface. The cost of purchasing and installing
    laminate using the "click" system, including materials, ranges between 10 EUR and 15 EUR per m².
  </p>
</div>

</body>
</html>