<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div th:fragment="tiling">
  <h2> Tailing </h2>
  <p>
    Laying tiles yourself might appear to be a simple task, but taking risks is unnecessary. Improperly installed tiles or poorly made
    joints can be not only unattractive but also hazardous. To avoid unnecessary risks, extra costs for repairs, or even potential compensation
    for flooding a neighbor, it is wise to invest time in finding an experienced professional to handle the tiling job.
  </p>
  <h2> Laying floor tiles </h2>
  <p>
    Laying floor tiles is one of the more costly aspects of renovating a kitchen or bathroom. Floor tiles can be installed in various
    patterns, depending on the desired effect. The most common method is a straight layout, where tiles are aligned with their edges
    parallel to the wall. For a more unique look, you can choose a staggered, diamond, or mixed layout.

    A staggered installation involves offsetting each row of tiles, creating an effect similar to a brick wall. In a diamond layout, tiles
    are positioned at a 45-degree angle to the wall. A mixed layout combines tiles of different sizes for a distinctive appearance.
  </p>
  <h2> Laying tiles on the wall </h2>
  <p>

    Installing tiles on the wall is an excellent way to finish not only kitchens and bathrooms but also hallways, foyers, and even
    living rooms. With a wide array of unique and interesting designs available on the market today, there's something to suit everyone's
    taste. Wall tiles offer a more durable solution compared to painting or wallpapering.
  </p>
  <h2> How much does tiling cost? </h2>
  <p>
    The final cost depends on various factors, including whether the walls are properly prepared for tiling or require extensive intervention.

    If old tiles need to be removed, expect a cost of around 5.5/m² EUR. Preparing the substrate for new tiles is slightly cheaper, with
    plastering and leveling costing around 5/m² EUR. Some tasks, such as removing old tiles,
    can be done independently, potentially reducing the overall renovation cost by several hundred euros.

    Tiling services generally range from 15 EUR to 25 EUR per m². The wide price range is due to factors such as tile format; for example,
    laying 30x30 tiles is less expensive than laying small-format tiles like 10x10 or mosaics. Additionally, tiling stairs is significantly
    more costly than tiling walls or terraces. Installing decors and skirting boards costs between 4-8/m² EUR.
  </p>
</div>

</body>
</html>