<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

<div th:fragment="tiresSwap">
  <h2> Tires swap </h2>
  <p>
    Contrary to what one might think, tires are one of the most crucial components of a car, as they are the sole contact between the vehicle
    and the road surface, impacting both safety and driving comfort. Therefore, regular tire maintenance is essential. This includes not just
    swapping summer tires for winter ones, but also continuously monitoring their condition and replacing worn-out tires with new ones.
  </p>

  <h2> When to change tires? </h2>
  <p>
    Switching between winter and summer tires should be done seasonally. Given Poland's diverse weather conditions and temperature fluctuations
    throughout the year, it is not safe to use summer tires year-round. Knowing when to make the switch is important. As winter approaches,
    usually around October or earlier if temperatures fall below 7 degrees Celsius, it's time to change to winter tires. At these
    temperatures, summer tires lose their effectiveness, leading to reduced vehicle performance and safety. Conversely, once temperatures
    rise to around 7-8 degrees Celsius in the spring, it's time to switch back to summer tires. While all-season tires offer an alternative,
    they may not perform optimally in our climate. Combining the features of both winter and summer tires is challenging, and all-season
    tires may wear out faster if used throughout the year. This increased wear will necessitate more frequent replacements, although you
    might save on the cost of seasonal tire changes, potentially offsetting the higher initial purchase price.
  </p>

  <h2> How much does it cost to replace tires? </h2>
  <p>
    At a tire shop, replacing tires typically costs between 19 and 24 EUR.  The cost can also vary depending on the car model and wheel size.
    To avoid overspending, it’s a good idea to compare prices at
    several nearby garages and choose the most cost-effective option. The process of changing tires usually takes professionals about 20
    to 30 minutes. However, it’s best not to wait until the last moment to get your tires changed, as you might end up facing long wait times.
  </p>

</div>

</body>
</html>