<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

<div th:fragment="waterInstallation">
  <h2> Water instalation </h2>
  <p>
    To ensure that water flows from taps and is directed into the municipal sewage system or a domestic sewage treatment plant, it's
    essential to design and install a water and sewage system. While this can be a straightforward task, it’s crucial to hire an experienced
    company to handle the job. This approach minimizes the risk of errors and frequent breakdowns, which can be costly to repair.
  </p>
  <h2> What is home plumbing? </h2>
  <p>
    Water installations can be divided into internal and external systems. The internal installation includes all elements hidden within
    walls, floors, or cabinets under sinks, such as pipes, connectors, and fittings. The external installation encompasses all final
    elements like taps, faucets, showerheads, and more. The starting point for a water installation is the main water pipe that brings water
    from the network to the house. This pipe is located below the ground's freezing zone, approximately 1.5 meters deep. Water installations
    are planned individually for each project, tailored to the future layout of the rooms. Although creating precise water installation designs
    is not formally required, having one can simplify the process. This document should detail the pipe distribution, including their diameter,
    type, and material, as well as the arrangement of valves, water meters, and hydrophore devices if needed. A well-thought-out plan,
    aligned with the future interior design, can also result in significant savings. The installation height varies for different fixtures,
    such as 60 cm for a sink and 120 cm for a shower. Since modifications and changes can be costly, it's advisable to plan the water
    installation project before construction begins. Water installations can be made from various materials. While steel and cast iron
    pipes were commonly used in the past, copper and plastics are now more prevalent due to their durability and resistance to rust.
  </p>

  <h2> Water installations cost </h2>
  <p>
    The costs of plumbing installations vary from house to house. They depend on the distance of individual connections, the complexity
    of the terrain, the layout of the rooms, and the number of vertical pipes. The price of sewage installation, including external works
    for an average family house, is approximately 20 EUR/m, which would mean around 1,000 EUR or more. The cost of renovating plumbing and
    drainage systems, including materials, for a small bathroom would be around 500 EUR. For smaller jobs, such as the fine installation of
    sanitary fixtures, you should allocate around 50 EUR. The costs for rough and fine plumbing installations in an average family house
    range from approximately 7 to 15 EUR/m.
  </p>
</div>

</body>
</html>