<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div th:fragment="whiteAssembly">
  <h2> White assembly </h2>
  <p>
    One of the final stages of finishing work is the white assembly in the bathroom, toilet, and kitchen. The term "white assembly" refers
    to the installation of sanitary ceramics, which are coated with a layer of glaze. It involves connecting all the sanitary fixtures,
    including the washbasin, sink, bathtub, shower tray, toilet, bidet, and other ceramic elements, as well as fittings that complete
    the hot and cold water installations at designated points. Completing the white assembly signifies the near end of the construction
    process, even if some final touches remain. White assembly is crucial for two main reasons: it not only enhances the interior decor
    but also ensures a high level of safety for the occupants. This requires not only professional expertise but also the correct selection
    of seals, insulating tapes, joints, and silicones. In practice, white assembly also includes the installation of kitchen or bathroom
    faucets and the laying of ceramic tiles.
  </p>
  <h2> When is white assembly performed? </h2>
  <p>
    White assembly is typically performed at the end of construction, once all installations are complete and there's assurance that the
    ceramics will not be damaged or soiled. By this stage, the interiors are usually cleaned, with only the sanitary installations left
    to enable the use of the toilet and kitchen. White assembly is crucial as it affects the functionality of the rooms, their overall
    appearance, and ensures long-term use without issues.
  </p>
  <h2> White assembly cost </h2>
  <p>
    The prices of white installation depend mainly on the region where the service is performed and the individual rates of individual
    specialists. On average, you should expect the following installation costs: bathtub - approx. 70 EUR (if it is covered with ceramic
    tiles, the cost will be even higher), shower cabin with shower tray and tap - approx. 55 EUR (may be lower/higher depending on the
    type of cabin), bidet, toilet bowl or washbasin - approx. 20 EUR per item, and fittings installation is approx. 10 EUR for each tap.
  </p>
</div>

</body>
</html>