<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Master Bob - Change profile info</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 110vh;
        }

        .form-group-button {
            display: flex;
            justify-content: space-between;
        }

        .custom-btn, .div-header {
          background-color: #ffcc00;
          font-weight: bold;
        }

        .custom-a:hover {
            background-color: #ffcc00;
            text-decoration: none;
        }

        .custom-a {
            text-decoration: none;
        }

        .a-img {
            margin-right: 15px;
            margin-bottom: 25px;
            max-height: 70px;
            width: auto;
        }

        .search {
            margin-right: 50px;
        }

        .main-div {
            margin-left: 980px;
        }

        .users-btn {
            margin-right: 20px;
        }

        .jobs-btn {
            margin-right: 20px;
        }
  </style>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
  <div class="row col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header div-header">
        <h2 class="text-center" style="font-weight: bold;" th:text="${user.name}">Change profile info</h2>
      </div>
      <div th:if="${message != null}" class="alert alert-success">
        [[${message}]]
      </div>
      <div th:if="${errorMessage != null}" class="alert alert-danger">
        [[${errorMessage}]]
      </div>
      <div class="card-body">
        <form
                method="post"
                role="form"
                th:action="@{'/change-profile-info/' + ${user.id}}"
                th:object="${user}"
        >
          <input
                  class="form-control"
                  id="userId"
                  name="userId"
                  th:field="${user.id}"
                  type="hidden"
          />
          <input
                  class="form-control"
                  id="userRole"
                  name="userRole"
                  th:field="${user.role}"
                  type="hidden"
          />
          <input
                  class="form-control"
                  id="enabledAccount"
                  name="enabledAccount"
                  th:field="${user.enabled}"
                  type="hidden"
          />

          <div class="form-group mb-3">
            <label class="form-label" for="firstName">First Name</label>
            <input
                    class="form-control"
                    id="firstName"
                    name="name"
                    placeholder="Enter first name"
                    th:field="*{name}"
                    type="text"
                    required
            />
            <p th:errors = "*{name}" class="text-danger"
               th:if="${#fields.hasErrors('name')}"></p>
          </div>

          <div class="form-group mb-3">
            <label class="form-label" for="surname">Last Name</label>
            <input
                    class="form-control"
                    id="surname"
                    name="surname"
                    placeholder="Enter last name"
                    th:field="*{surname}"
                    type="text"
                    required
            />
            <p th:errors = "*{surname}" class="text-danger"
               th:if="${#fields.hasErrors('surname')}"></p>
          </div>

          <div class="form-group mb-3">
            <label class="form-label" for="email">Email</label>
            <input
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter email address"
                    th:field="*{username}"
                    type="email"
                    required
            />
            <p th:errors = "*{username}" class="text-danger"
               th:if="${#fields.hasErrors('email')}"></p>
          </div>

          <div class="form-group mb-3">
            <label class="form-label" for="oldPassword">Old password</label>
            <input
                    class="form-control"
                    id="oldPassword"
                    name="oldPassword"
                    placeholder="Enter old password"
                    type="password"
                    th:attr="onchange='toggleNewPasswordRequired()'"
            />
          </div>

          <div class="form-group mb-3">
            <label class="form-label" for="newPassword">New password</label>
            <input
                    class="form-control"
                    id="newPassword"
                    name="newPassword"
                    placeholder="Enter new password"
                    type="password"
            />
          </div>

          <div class="form-group mb-3">
            <label class="form-label" for="phoneNumber">Phone number</label>
            <input
                    class="form-control"
                    id="phoneNumber"
                    name="phoneNumber"
                    placeholder="Enter phone number"
                    th:field="*{phoneNumber}"
                    type="text"
            />
            <p th:errors = "*{phoneNumber}" class="text-danger"
               th:if="${#fields.hasErrors('phoneNumber')}"></p>
          </div>

          <div sec:authorize="hasRole('master')">
            <div class="form-group mb-3">
              <label>Job category</label>
              <select multiple="multiple" th:field="*{jobCategories}">
                <option th:each="category : ${jobCategoriesList}"
                        th:value="${category.id}"
                        th:text="${category.category}"
                        th:selected="${user.jobCategories != null and user.jobCategories.contains(category)}">
                </option>
              </select>
              <p th:errors="*{jobCategories}" class="text-danger"
                 th:if="${#fields.hasErrors('jobCategories')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label" for="address">Address</label>
              <input
                      class="form-control"
                      id="address"
                      name="address"
                      placeholder="Enter address"
                      th:field="*{address}"
                      type="text"
              />
              <p th:errors = "*{address}" class="text-danger"
                 th:if="${#fields.hasErrors('address')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label" for="postCode">Post code</label>
              <input
                      class="form-control"
                      id="postCode"
                      name="postCode"
                      placeholder="Enter post code"
                      th:field="*{postCode}"
                      type="text"
              />
              <p th:errors = "*{postCode}" class="text-danger"
                 th:if="${#fields.hasErrors('postCode')}"></p>
            </div>
          </div>
          <div class="form-group-button">
            <button class="btn custom-btn" type="submit">Save</button>
          </div>
        </form>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      </div>
    </div>
  </div>
  </div>

<script th:inline="javascript">
  function toggleNewPasswordRequired() {
    var oldPasswordInput = document.getElementById('oldPassword');
    var newPasswordInput = document.getElementById('newPassword');

    if (oldPasswordInput.value.trim() !== '') {
      newPasswordInput.required = true;
    } else {
      newPasswordInput.required = false;
    }
  }
</script>

</body>
</html>