<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
  <title>Master Bob - Edit service request</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/moment"></script>


  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/rangePlugin.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/all.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

  <style>
        .container {
            display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
        }
.custom-btn, .div-header {
          background-color: #ffcc00;
          font-weight: bold;
        }

        .a-img {
            margin-right: 15px;
            margin-bottom: 25px;
            max-height: 70px;
            width: auto; /* Maintain aspect ratio */
        }

        .search {
            margin-right: 50px;
        }

        .main-div {
            margin-left: 700px;
        }

        .users-btn {
            margin-right: 20px;
        }

        .jobs-btn {
            margin-right: 20px;
        }

        #error-message-end, #error-message-begin, #error-message-time {
          color: red;
          display: none;
        }


    </style>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
  <div class="row col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header div-header">
        <h2 class="text-center" style="font-weight: bold;">Edit service request</h2>
      </div>

      <div th:if="${errorMessage != null}" class="alert alert-danger">
        [[${errorMessage}]]
      </div>

      <div class="card-body">
        <form
                id="service-form"
                method="post"
                role="form"
                th:action="@{'/user/master/service-request/save/edit/' + ${serviceRequest.id}}"
                th:object="${serviceRequest}"
        >
          <input
                  class="form-control"
                  id="masterId"
                  name="masterId"
                  th:field="${serviceRequest.master.id}"
                  type="hidden"
          />

          <input
                  class="form-control"
                  id="customerName"
                  name="customerName"
                  th:field="${serviceRequest.customer.name}"
                  type="hidden"
          />

          <input
                  class="form-control"
                  id="customerSurname"
                  name="customerSurname"
                  th:field="${serviceRequest.customer.surname}"
                  type="hidden"
          />

          <div class="form-group mb-3">
            <label class="form-label" for="additionalInfo">Additional info</label>
            <textarea class="form-control" id="additionalInfo" name="additionalInfo" th:field="*{additionalInfo}"></textarea><br>
            <p th:errors = "*{additionalInfo}" class="text-danger"
               th:if="${#fields.hasErrors('additionalInfo')}"></p>
          </div>

          <div class="form-group mb-3">
            <label>Service status</label>
            <select class="form-control" th:field="*{serviceStatus}" id="editServiceStatus" name="editServiceStatus"
                    required>
              <option value="" disabled>Select status</option>
              <th:block th:each="status : ${serviceStatuses}">
                <option th:value="${status}" th:text="${status}"
                        th:selected="${serviceStatus == status}"></option>
              </th:block>
            </select>
            <p th:errors="*{serviceStatus}" class="text-danger"
               th:if="${#fields.hasErrors('serviceStatus')}"></p>
          </div>

          <div class="form-group mb-3">
            <label class="form-label" for="dateTimeBegin">Date begin</label>
            <input
                    class="form-control"
                    id="dateTimeBegin"
                    name="dateTimeBegin"
                    th:field="*{dateTimeBeginString}"
                    type="datetime-local"
                    required
            />
            <p th:errors="*{dateTimeBeginString}" class="text-danger"
               th:if="${#fields.hasErrors('dateTimeBeginString')}"></p>
            <p id="error-message-begin">Please choose a time between 8:00 AM and 9:00 PM.</p>
          </div>


          <div class="form-group mb-3">
            <label class="form-label" for="dateTimeEnd">Date end</label>
            <input
                    class="form-control"
                    id="dateTimeEnd"
                    name="dateTimeEnd"
                    th:field="*{dateTimeEndString}"
                    type="datetime-local"
                    required
            />
            <p th:errors="*{dateTimeEndString}" class="text-danger"
               th:if="${#fields.hasErrors('dateTimeEndString')}"></p>
            <p id="error-message-end">Please choose a time between 8:00 AM and 9:00 PM.</p>
            <p id="error-message-time">You have to choose a date greater than Date begin.</p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    th:onclick="|window.location.href='/user/master/service-request'|">Close
            </button>
            <button type="submit" class="btn custom-btn">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>

document.addEventListener('DOMContentLoaded', function () {
      var today = new Date();
      today.setHours(0, 0, 0, 0); // Set to midnight for minDate

      // Fetch the initial values set by Thymeleaf
      var initialDateTimeBegin = document.getElementById('dateTimeBegin').value;
      var initialDateTimeEnd = document.getElementById('dateTimeEnd').value;

      flatpickr("#dateTimeBegin", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        time_24hr: true,
        defaultDate: initialDateTimeBegin || new Date(), // Use the Thymeleaf value if available, otherwise today
        minDate: today, // Set minimum selectable date to today
        onChange: function(selectedDates, dateStr, instance) {
          var errorMessage = document.getElementById('error-message-begin');
          if (selectedDates.length === 0) {
            return;
          }
          var selectedDate = selectedDates[0];
          var selectedHours = selectedDate.getHours();
          var selectedMinutes = selectedDate.getMinutes();
          var selectedTime = selectedHours + selectedMinutes / 60;

          // Check if the selected time is between 8:00 AM and 9:00 PM (21:00)
          if (selectedTime < 8 || selectedTime >= 21) {
            errorMessage.style.display = 'block';
          } else {
            errorMessage.style.display = 'none';
          }
        }
      });

      flatpickr("#dateTimeEnd", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        time_24hr: true,
        defaultDate: initialDateTimeEnd || new Date(), // Use the Thymeleaf value if available, otherwise today
        minDate: today, // Set minimum selectable date to today
        onChange: function(selectedDates, dateStr, instance) {
          var errorMessage = document.getElementById('error-message-end');
          if (selectedDates.length === 0) {
            return;
          }
          var selectedDate = selectedDates[0];
          var selectedHours = selectedDate.getHours();
          var selectedMinutes = selectedDate.getMinutes();
          var selectedTime = selectedHours + selectedMinutes / 60;

          // Check if the selected time is between 8:00 AM and 9:00 PM (21:00)
          if (selectedTime < 8 || selectedTime >= 21) {
            errorMessage.style.display = 'block';
          } else {
            errorMessage.style.display = 'none';
          }
        }
      });

      document.getElementById('service-form').addEventListener('submit', function(event) {
        var inputBegin = document.getElementById('dateTimeBegin');
        var inputEnd = document.getElementById('dateTimeEnd');
        var selectedDateBegin = new Date(inputBegin.value);
        var selectedDateEnd = new Date(inputEnd.value);
        var selectedHoursBegin = selectedDateBegin.getHours();
        var selectedMinutesBegin = selectedDateBegin.getMinutes();
        var selectedTimeBegin = selectedHoursBegin + selectedMinutesBegin / 60;

        var selectedHoursEnd = selectedDateEnd.getHours();
        var selectedMinutesEnd = selectedDateEnd.getMinutes();
        var selectedTimeEnd = selectedHoursEnd + selectedMinutesEnd / 60;

        var errorMessageBegin = document.getElementById('error-message-begin');
        var errorMessageEnd = document.getElementById('error-message-end');
        var errorMessageTime = document.getElementById('error-message-time');

        var valid = true;

        if (selectedTimeBegin < 8 || selectedTimeBegin >= 21) {
          errorMessageBegin.style.display = 'block';
          valid = false;
        } else {
          errorMessageBegin.style.display = 'none';
        }

        if (selectedTimeEnd < 8 || selectedTimeEnd >= 21) {
          errorMessageEnd.style.display = 'block';
          valid = false;
        } else {
          errorMessageEnd.style.display = 'none';
        }

        if (selectedDateEnd <= selectedDateBegin) {
          errorMessageTime.style.display = 'block';
          valid = false;
        } else {
          errorMessageTime.style.display = 'none';
        }

        if (!valid) {
          event.preventDefault(); // Prevent form submission
        } else {
          // Format the date to the required format
          var formattedDateBegin = moment(selectedDateBegin).format('YYYY-MM-DD HH:mm:ss.SSS');
          var formattedDateEnd = moment(selectedDateEnd).format('YYYY-MM-DD HH:mm:ss.SSS');
          inputBegin.value = formattedDateBegin; // Set the formatted date back to the input
          inputEnd.value = formattedDateEnd; // Set the formatted date back to the input
        }
      });
    });

</script>

</body>
</html>