<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Master Bob - Registration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
        .form-group-button {
            display: flex;
            justify-content: space-between;
        }

        .custom-btn, .div-header {
          background-color: #ffcc00;
          font-weight: bold;
        }

        h2 {
          font-weight: bold;
        }

        .custom-a:hover {
            background-color: #ffcc00;
            text-decoration: none;
        }

        .custom-a {
            text-decoration: none;
        }

        .main-div {
            margin-left: 860px;
        }

        .a-img {
            margin-right: 15px;
            margin-bottom: 25px;
            max-height: 70px; /* Adjust image height */
            width: auto; /* Maintain aspect ratio */
        }

        .search {
            margin-left: 25px;
            margin-right: 50px;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 85vh;
        }

  </style>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
  <div class="row col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header div-header">
        <h2 class="text-center">Registration</h2>
      </div>
      <div th:if="${message != null}" class="alert alert-success">
        [[${message}]]
      </div>
      <div th:if="${errorMessage != null}" class="alert alert-danger">
        [[${errorMessage}]]
      </div>
      <div class="card-body">
        <form
                method="post"
                role="form"
                th:action="@{/register}"
                th:object="${user}"
        >
          <div class="form-group mb-3">
            <label class="form-label" for="firstName">First Name</label>
            <input
                    class="form-control"
                    id="firstName"
                    name="name"
                    placeholder="Enter first name"
                    th:field="*{name}"
                    type="text"
                    required
            />
            <p th:errors = "*{name}" class="text-danger"
               th:if="${#fields.hasErrors('name')}"></p>
          </div>

          <div class="form-group mb-3">
            <label class="form-label" for="surname">Last Name</label>
            <input
                    class="form-control"
                    id="surname"
                    name="surname"
                    placeholder="Enter last name"
                    th:field="*{surname}"
                    type="text"
                    required
            />
            <p th:errors = "*{surname}" class="text-danger"
               th:if="${#fields.hasErrors('surname')}"></p>
          </div>

          <div class="form-group mb-3">
            <label class="form-label" for="email">Email</label>
            <input
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter email address"
                    th:field="*{username}"
                    type="email"
                    required
            />
            <p th:errors = "*{email}" class="text-danger"
               th:if="${#fields.hasErrors('email')}"></p>
          </div>

          <div class="form-group mb-3">
            <label class="form-label" for="password">Password</label>
            <input
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Enter password"
                    th:field="*{password}"
                    type="password"
                    required
            />
            <p th:errors = "*{password}" class="text-danger"
               th:if="${#fields.hasErrors('password')}"></p>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="phoneNumber">Phone number</label>
            <input
                    class="form-control"
                    id="phoneNumber"
                    name="phoneNumber"
                    placeholder="Enter phone number"
                    th:field="*{phoneNumber}"
                    type="text"
            />
            <p th:errors = "*{phoneNumber}" class="text-danger"
               th:if="${#fields.hasErrors('phoneNumber')}"></p>
          </div>
          <div class="form-group mb-3">
            <label>Account type</label>
            <select class="form-control" th:field="*{role}" id="role" name="role" required>
              <option value="" selected>Select type</option>
              <option value="customer">Customer</option>
              <option value="master">Master</option>
            </select>
            <p th:errors = "*{role}" class="text-danger"
               th:if="${#fields.hasErrors('role')}"></p>
          </div>

          <div class="form-group mb-3" id="additionalFields">
            <div class="form-group mb-3">
              <label>Job category</label>
              <select class="form-control" th:field="*{jobCategories}" id="category" name="category" multiple>
                <option value="" selected>Select category</option>
                <th:block th:each="category : ${jobCategories}">
                  <option th:value="${category.id}" th:text="${category.category}"></option>
                </th:block>
              </select>
              <p th:errors = "*{jobCategories}" class="text-danger"
                 th:if="${#fields.hasErrors('jobCategories')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label" for="address">Address</label>
              <input
                      class="form-control"
                      id="address"
                      name="address"
                      placeholder="Enter address"
                      th:field="*{address}"
                      type="text"
              />
              <p th:errors = "*{address}" class="text-danger"
                 th:if="${#fields.hasErrors('address')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label" for="postCode">Post code</label>
              <input
                      class="form-control"
                      id="postCode"
                      name="postCode"
                      placeholder="Enter post code"
                      th:field="*{postCode}"
                      type="text"
              />
              <p th:errors = "*{postCode}" class="text-danger"
                 th:if="${#fields.hasErrors('postCode')}"></p>
            </div>
          </div>



          <div class="form-group-button">
            <button class="btn custom-btn" type="submit">Register</button>
            <span>Already registered?
            <button type="button" class="btn custom-btn" th:onclick="|window.location.href='/login'|">
                  Login
            </button>
              </span>
          </div>
        </form>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


        <script th:src="@{/js/additionalFields.js}"></script>

      </div>
    </div>
  </div>
</div>
</body>
</html>